
a{
  text-decoration: none;
  color:black;
}



body{  color:#000; 
        background-color:#fff; 
        font-size:25px;
       background-image: url(../images/test_test_test33.png); 
        background-repeat: no-repeat;
        background-size: cover;
      }
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 60px;
	text-decoration: none;
  margin-bottom: -5px;
  line-height: 70px;

}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	text-decoration: ;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: -20px;
  text-align: right;

}


span{
  
  text-decoration: none;
  } a:visited { 	color: black;
	} a:hover {		    color: black;
}

p {
	font-size: 13px;
	font-family: 'Roboto Condensed', sans-serif;
  line-height: 20px;
	
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    top: 15px;
    font-weight: normal;
    text-align: left;
    left: 20px;
    width: 250px;
    font-size: 9px;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-left: 15px;
}






.printdiv {
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    display:none;
    top: 100px;
    text-align: right;
    left: 250px;
    width: 100px;
    font-size: 10px;
    line-height: 18px;
    left: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-left: 0px;
    border-left: solid;
}

.printdiv a:hover{
  text-decoration: underline;
  font-weight: bold;
}

/* button */



.print {
  position: fixed;
  top:30px;
  left:30px;

}



.print a{text-decoration: none;}
.print a:hover{cursor: pointer; color:red;}

.printanders {
  font-size: 60px;
  font-family: Arial;

}


.iets {
  position: fixed;
  left:30px;
  bottom:30px;

}



.iets a{text-decoration: none;}
.iets a:hover{
  cursor: 
  pointer; 
  color:red;}

.ietsanders {
  font-size: 75px;

}


.bron a{
  color:red;
}

.bron a:hover {
text-decoration: underline;
}

.bron a:visited{
color:red;
}

#divmenu {
 position:fixed;
 bottom:20px;
 right:20px;
 width:1200px;
 height: 120px;
 background-color:white;
z-index: 10000;
display:none;
}

#colum1{

 display: inline-block;
 width:290px;
 height: 120px;
 background-color:white;
 border-left: 3px solid black;

 
}






/* AROUND BORDER */
/*
#top, #bottom, #left, #right {
  background: black;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 5px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 5px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; } 

/* dus enzo*/






.next {
  color: black;
  font-size: 70px;
  text-align: center;
  margin-left: 35%;
  margin-top: 0px;
  line-height: 50px;

}

.afb a {
  font-size: 13px;
  color:black;
  text-decoration: underline;
}

.afb a:hover{
  text-decoration: underline;
  font-weight: bold;


}

.afb a :visited{
  color:blue;
}


.links a {
  font-size: 13px;
  text-decoration: underline;
  color:black;
}

.links a:hover{
  font-weight:bold;
}

.links a:visited{
  color:red;
}




#startid {
  position:absolute; 
  content: " "; 
  margin-top:-100px; 
  margin-left:-400px;
  visibility: hidden; 
}
#start {
  
  position:absolute;
  margin-top:-110px;
  margin-left:100px;
  width:1000px;
  padding:20px;
 }




#abstractid { 
  position:absolute;
  content: " "; 
  margin-top:1960px; 
  margin-left:2700px;
  visibility: hidden; 
}

#abstract {
  position:absolute;
  margin-top:2000px;
  margin-left:3000px;
  width:600px;
  padding:10px;

}



#inleidingid {
 position:absolute;
  content: " "; 
  margin-top:2260px; 
  margin-left:3900px;
  visibility: hidden; 
}
#inleiding {
position:absolute;
  margin-top:2300px;
  margin-left:4200px;
  width:600px;
 padding:10px;
}


#vierid {
 position:absolute;
  content: " "; 
  margin-top:6960px; 
  margin-left:4700px;
  visibility: hidden; 
}



#vier {
  position:absolute;
  margin-top:7000px;
  margin-left:5000px;
  width:600px;
  padding:10px;
}



#casusid {
 position:absolute;
  content: " "; 
  margin-top:3960px; 
  margin-left:2700px;
  visibility: hidden; 
}



#casus {
  position:absolute;
  margin-top:4000px;
  margin-left:3000px;
  width:600px;
  padding:10px;
}


#botsid {
 position:absolute;
  content: " "; 
  margin-top:360px; 
  margin-left:8200px;
  visibility: hidden; 
}



#bots {
  position:absolute;
  margin-top:400px;
  margin-left:8500px;
  width:600px;
  padding:10px;
  
}



#runningid {
 position:absolute;
  content: " "; 
  margin-top:4860px; 
  margin-left:6900px;
  visibility: hidden; 
}



#running {
  position:absolute;
  margin-top:4900px;
  margin-left:7200px;
  width:600px;
  padding:10px;
 
}




#ruimteid {
 position:absolute;
  content: " "; 
  margin-top:8460px; 
  margin-left:3400px;
  visibility: hidden; 
}



#ruimte {
  position:absolute;
  margin-top:8500px;
  margin-left:3700px;
  width:600px;
  padding:10px;

}





#breedtid {
 position:absolute;
  content: " "; 
  margin-top:8860px; 
  margin-left:0px;
  visibility: hidden; 
}



#breedt {
  position:absolute;
  margin-top:8900px;
  margin-left:300px;
  width:600px;
  padding:10px;

}





#belfastid {
 position:absolute;
  content: " "; 
  margin-top:6960px; 
  margin-left:1700px;
  visibility: hidden; 
}



#belfast {
  position:absolute;
  margin-top:7000px;
  margin-left:2000px;
  width:600px;
  padding:10px;
  
}





#bermid {
 position:absolute;
  content: " "; 
  margin-top:8660px; 
  margin-left:7700px;
  visibility: hidden; 
}



#berm {
  position:absolute;
  margin-top:8700px;
  margin-left:8000px;
  width:600px;
  padding:10px;
 
}




#greenid {
 position:absolute;
  content: " "; 
  margin-top:60px; 
  margin-left:1145px;
  visibility: hidden; 
}



#green {
  position:absolute;
  margin-top:100px;
  margin-left:1445px;
  width:600px;
  padding:10px;
 
}





#zoneid {
 position:absolute;
  content: " "; 
  margin-top:6960px; 
  margin-left:6000px;
  visibility: hidden; 
}



#zone {
  position:absolute;
  margin-top:7000px;
  margin-left:6300px;
  width:600px;
  padding:10px;
  
 
}



#rusid {
 position:absolute;
  content: " "; 
  margin-top:4330px; 
  margin-left:4398px;
  visibility: hidden; 
}



#rus {
  position:absolute;
  margin-top:4370px;
  margin-left:4698px;
  width:600px;
  padding:10px;
  
 
}



#favid {
 position:absolute;
  content: " "; 
  margin-top:2170px; 
  margin-left:7700px;
  visibility: hidden; 
}



#fav {
  position:absolute;
  margin-top:2200px;
  margin-left:8000px;
  width:600px;
  padding:10px;
  
 
}



#straatid {
 position:absolute;
  content: " "; 
  margin-top:50px; 
  margin-left:6400px;
  visibility: hidden; 
}



#straat {
  position:absolute;
  margin-top:90px;
  margin-left:6700px;
  width:600px;
  padding:10px;
 
}



#conclusieid {
 position:absolute;
  content: " "; 
  margin-top:7960px; 
  margin-left:6400px;
  visibility: hidden; 
}



#conclusie {
  position:absolute;
  margin-top:8000px;
  margin-left:6700px;
  width:600px;
  padding:10px;

}



#bronnenid {
 position:absolute;
  content: " "; 
  margin-top:3160px; 
  margin-left:1400px;
  visibility: hidden; 
}



#bronnen {
  position:absolute;
  margin-top:3200px;
  margin-left:1700px;
  width:500px;
  padding:10px;

}









































/* nav bar */

.nav-bar {
  padding: 5px;


  


}

.nav-bar ul{

    float: left;
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 20px;
    margin: 0px;
    list-style-type: none;
    float: left;
    padding-bottom:30px;
}

.nav-bar li {
    display: block;
    line-height: 20px;
    
   
}


.nav-bar li a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 5px;
	font-size:11px;
	color: #000;

	}


 .nav-bar li a:hover  {
   text-decoration: underline;
  }

.nav-bar li a:visited{
  color:red;
}

/* BEELDEN*/
  



#beeldid{
  position:absolute;
  content: " "; 
  margin-top:4000px; 
  margin-left:6000px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG2{
  position:absolute;
  content: " "; 
  margin-top:160px; 
  margin-left:2400px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG3{
  position:absolute;
  content: " "; 
  margin-top:2960px; 
  margin-left:200px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG4{
  position:absolute;
  content: " "; 
  margin-top:1400px; 
  margin-left:8400px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG5{
  position:absolute;
  content: " "; 
  margin-top:1000px; 
  margin-left:3500px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG6{
  position:absolute;
  content: " "; 
  margin-top:4300px; 
  margin-left:8400px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG7{
  position:absolute;
  content: " "; 
  margin-top:7000px; 
  margin-left:200px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG8{
  position:absolute;
  content: " "; 
  margin-top:5600px; 
  margin-left:2500px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG9{
  position:absolute;
  content: " "; 
  margin-top:3000px; 
  margin-left:6200px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG10{
  position:absolute;
  content: " "; 
  margin-top:6500px; 
  margin-left:3400px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG11{
  position:absolute;
  content: " "; 
  margin-top:9000px; 
  margin-left:2000px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG12{
  position:absolute;
  content: " "; 
  margin-top:6000px; 
  margin-left:100px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG13{
  position:absolute;
  content: " "; 
  margin-top:9000px; 
  margin-left:4500px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG14{
  position:absolute;
  content: " "; 
  margin-top:6000px; 
  margin-left:8000px; 
  padding-left: 300px;
  padding-top:40px;
}

#IMG15{
  position:absolute;
  content: " "; 
  margin-top:7700px; 
  margin-left:8400px; 
  padding-left: 300px;
  padding-top:40px;
}











#KAART1{
  position:absolute;
  content: " "; 
  margin-top:4000px; 
  margin-left:200px; 
  padding-left: 400px;
  padding-top:40px;
}

#KAART2{
  position:absolute;
  content: " "; 
  margin-top:2000px; 
  margin-left:5000px; 
  padding-left: 400px;
  padding-top:60px;
}


#KAART3{
  position:absolute;
  content: " "; 
  margin-top:300px; 
  margin-left:4600px; 
  padding-left: 400px;
  padding-top:60px;
}

#KAART4{
  position:absolute;
  content: " "; 
  margin-top:1700px; 
  margin-left:600px; 
  padding-left: 400px;
  padding-top:60px;
}


#KAART5{
  position:absolute;
  content: " "; 
  margin-top:7200px; 
  margin-left:7100px; 
  padding-left: 400px;
  padding-top:60px;
}


#KAART6{
  position:absolute;
  content: " "; 
  margin-top:5600px; 
  margin-left:5680px; 
  padding-left: 400px;
  padding-top:60px;
}


#KAART7{
  position:absolute;
  content: " "; 
  margin-top:7700px; 
  margin-left:3000px; 
  padding-left: 400px;
  padding-top:60px;
}



#KAART8{
  position:absolute;
  content: " "; 
  margin-top:8000px; 
  margin-left:200px; 
  padding-left: 300px;
  padding-top:60px;
}


#KAART9{
  position:absolute;
  content: " "; 
  margin-top:1500px; 
  margin-left:6400px; 
  padding-left: 300px;
  padding-top:60px;
}



#KAART10{
  position:absolute;
  content: " "; 
  margin-top:8100px; 
  margin-left:5200px; 
  padding-left: 400px;
  padding-top:60px;
}


#KAART11{
  position:absolute;
  content: " "; 
  margin-top:3200px; 
  margin-left:8600px; 
  padding-left: 300px;
  padding-top:60px;
}


#KAART12{
  position:absolute;
  content: " "; 
  margin-top:1200px; 
  margin-left:1700px; 
  padding-left: 300px;
  padding-top:60px;
}




.onderschrift {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: underline;
  width: auto;
  padding-left: 10px;

}

.onderschrift a:hover{
  text-decoration: underline;
  font-weight: bold;
}


@media print{
  .screen-only {
    display:none;
  }
}

@media screen{
  .print-only {
    display:none;
  }
}

